<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">{{ title }}</h1>
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  </div>
</div>

<div class="container-fluid">
  <form id="sharp-form" action="/upload/sharp" method="post" enctype="multipart/form-data">
    <!-- Begins upload original image section -->
    {{!-- <div class="form-group row">
      <div class="col-sm-12">
        <label for="image-file" class="heading-label">Original Image (16:9)</label>
      </div>
      <div class="col-sm-12">
        <input class="btn btn-info" type="file" name="image-file" id="image-file" />
      </div>
    </div> --}}
    <div class="form-group row">
      {{!-- <div class="col-sm-12 col-md-2">
        <label for="image-file" class="heading-label">Original Image</label>
      </div>       --}}
      <div class="col-sm-12 col-md-6">
        <div class="custom-file mb-4">
          <input type="file" class="custom-file-input" id="image-file" name="image-file">
          <label class="custom-file-label" for="image-file">Choose file</label>
        </div>
      </div>
      {{!-- Begins 'fit' select --}}
      <div class="col-sm-12 col-md-6">
        <select id="imageFit" class="custom-select custom-select-md"  name="imageFit">
          <option value="Cover">Select Fit</option>
          <option value="Cover">Cover</option>
          <option value="Contain">Contain</option>
          <option value="Fill">Fill</option>
          <option value="Inside">Inside</option>
          <option value="Outside">Outside</option>          
        </select>        
      </div>
      {{!-- Ends 'fit' select --}}      
    </div>
    <!-- Ends upload original image section -->
    <hr>

    <div class="form-group row">
      <div class="col-sm-12 col-md-6">
        <!-- Begins Aspect Ratio checkbox -->
        <div class="form-group row">
          <div class="col-sm-12">
            <label class="heading-label">Lock Aspect Ratio</label>
          </div>        
          <div class="col-sm-12">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="aspect-lock" id="none" value="0" checked>
              <label class="form-check-label" for="none">
                No Lock
              </label>
            </div>        
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="aspect-lock" id="aspect16" value="16:9">
              <label class="form-check-label" for="aspect16">
                16:9
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="aspect-lock" id="aspect4" value="4:3">
              <label class="form-check-label" for="aspect4">
                4:3
              </label>
            </div>

            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="aspect-lock" id="aspect3" value="3:2">
              <label class="form-check-label" for="aspect3">
                3:2
              </label>
            </div>

          </div>
        </div>
        <!-- Ends Aspect Ratio checkbox -->
      </div>
    </div>

    <hr>

    <!-- Begins Large MediaFile dimensions -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Large Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Width</span>
          </div>
          <input type="text" class="form-control" id="lgMediaWidth" name="lgMediaWidth" placeholder="1280" aria-label="Width" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Height</span>
          </div>
          <input type="text" class="form-control" id="lgMediaHeight" name="lgMediaHeight" placeholder="720" aria-label="Height" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <!-- Ends Large MediaFile dimensions -->

    <!-- Begins Medium MediaFile dimensions -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Medium Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Width</span>
          </div>
          <input type="text" class="form-control" id="mdMediaWidth" name="mdMediaWidth" placeholder="636" aria-label="Width" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Height</span>
          </div>
          <input type="text" class="form-control" id="mdMediaHeight" name="mdMediaHeight" placeholder="358" aria-label="Height" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <!-- Ends Medium MediaFile dimensions -->

    <!-- Begins Small MediaFile dimensions -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Small Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Width</span>
          </div>
          <input type="text" class="form-control" id="smMediaWidth" name="smMediaWidth" placeholder="216" aria-label="Width" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Height</span>
          </div>
          <input type="text" class="form-control" id="smMediaHeight" name="smMediaHeight" placeholder="122" aria-label="Height" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <!-- Ends Small MediaFile dimensions -->

    <!-- Begins Tiny MediaFile dimensions -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Tiny Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Width</span>
          </div>
          <input type="text" class="form-control" id="xsMediaWidth" name="xsMediaWidth" placeholder="132" aria-label="Width" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Height</span>
          </div>
          <input type="text" class="form-control" id="xsMediaHeight" name="xsMediaHeight" placeholder="74" aria-label="Height" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <!-- Ends Tiny MediaFile dimensions -->

    {{!-- SUBMIT BUTTON --}}
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-info mt-4" name="submit">
          Submit
        </button>
      </div>
    {{!-- SUBMIT BUTTON --}}
    </div>
  </form>
</div>


