<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ title }}</h1>
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  </div>
</div>

<div class="container-fluid">
  <form id="sharp-form" action="/upload/sharp" method="post" enctype="multipart/form-data">
    <!-- Begins upload original image section -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="originalImg" class="heading-label">Original Image (16:9)</label>
      </div>
      <div class="col-sm-12">
        <input class="btn btn-info" type="file" name="originalImg" id="originalImg" />
      </div>
    </div>
    <!-- Ends upload original image section -->
    <!-- Begins Aspect Ratio section -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Lock Aspect Ratio</label>
      </div>        
      <div class="col-sm-12">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="aspect-lock" id="none" value="0" checked>
          <label class="form-check-label" for="none">
            No Lock
          </label>
        </div>        
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="aspect-lock" id="aspect16" value="16:9">
          <label class="form-check-label" for="aspect16">
            [16:9]
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="aspect-lock" id="aspect4" value="4:3">
          <label class="form-check-label" for="aspect4">
            [4:3]
          </label>
        </div>

        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="aspect-lock" id="aspect3" value="3:2">
          <label class="form-check-label" for="aspect3">
            [3:2]
          </label>
        </div>

      </div>
    </div>
    <!-- Ends Aspect Ratio section -->

    {{!-- Begins 'fit' selection --}}
    <div class="form-group row">
      <div class="col-sm-2">
        <label class="heading-label" for="imageFit">Fit</label>
      </div>
      <div class="col-sm-10">
        <select class="form-control" id="imageFit" name="imageFit">
          <option>Cover</option>
          <option>Contain</option>
          <option>Fill</option>
          <option>Inside</option>
          <option>Outside</option>
        </select>
      </div>
    </div>
    {{!-- Ends 'fit' selection --}}

    <!-- Begins Large MediaFile section -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Large Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="lgMediaWidth" class="col-sm-2 col-form-label">Width</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="lgMediaWidth" name="lgMediaWidth" placeholder="1280">
      </div>
      <label for="lgMediaHeight" class="col-sm-2 col-form-label">Height</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="lgMediaHeight" name="lgMediaHeight" placeholder="720">
      </div>
    </div>
    <!-- Ends Large MediaFile section -->

    <!-- Begins Medium MediaFile section -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Medium Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="mdMediaWidth" class="col-sm-2 col-form-label">Width</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="mdMediaWidth" name="mdMediaWidth" placeholder="636">
      </div>
      <label for="mdMediaHeight" class="col-sm-2 col-form-label">Height</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="mdMediaHeight" name="mdMediaHeight" placeholder="358">
      </div>
    </div>
    <!-- Ends Medium MediaFile section -->

    <!-- Begins Small MediaFile section -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Small Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="smMediaWidth" class="col-sm-2 col-form-label">Width</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="smMediaWidth" name="smMediaWidth" placeholder="216">
      </div>
      <label for="smMediaHeight" class="col-sm-2 col-form-label">Height</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="smMediaHeight" name="smMediaHeight" placeholder="122">
      </div>
    </div>
    <!-- Ends Small MediaFile section -->

    <!-- Begins Tiny MediaFile section -->
    <div class="form-group row">
      <div class="col-sm-12">
        <label class="heading-label">Tiny Media-File:</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="xsMediaWidth" class="col-sm-2 col-form-label">Width</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="xsMediaWidth" name="xsMediaWidth" placeholder="132">
      </div>
      <label for="xsMediaHeight" class="col-sm-2 col-form-label">Height</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="xsMediaHeight" name="xsMediaHeight" placeholder="74">
      </div>
    </div>
    <!-- Ends Tiny MediaFile section -->

    {{!-- TODO: Tiny MediaFile: typically 132x74 --}}


    {{!-- SUBMIT BUTTON --}}
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-info mt-4" name="submit">
          Process Image/(s)
        </button>
      </div>
    {{!-- SUBMIT BUTTON --}}
    </div>
  </form>
</div>


