<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Results Page</h1>
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <div class="row mb-2">
        {{#each metadata}}
          <div class="col-sm-6">
            {{Etag}}
            {{!-- Bucket: "image-upload-util"
            ETag: ""8f1d892c9195fd586abf7ee82be7ff7f""
            Key: "20200717--flowers-960x540.jpg"
            Location: "https://image-upload-util.s3.us-west-1.amazonaws.com/20200717--flowers-960x540.jpg"
            key: "20200717--flowers-960x540.jpg"             --}}
          </div>
        {{/each}}
        </div>
      </div>
    </div>
  </div>

</div>



