.global-header {
  max-width: 1140px;
  margin: 0 auto;
}

.heading-label {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 8px;
}

#sharp-form, #upload-form {
  padding: 32px;
  background-color: #e9ecef;
  border-radius: 5px;
}
