/* global styles */
/* ***begins******************** */
.global-header {
  max-width: 1140px;
  margin: 0 auto;
}

.jumbotron, form{
  background-color: #F0f5f5;
}

.heading-label {
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 2px;
  /* margin-top: 8px; */
}

.validation-error {
  box-shadow: 2px 0 0 0 #dc3545;
}
/* ***ends********************** */

/* global forms styles */
/* ***begins******************** */
#sharp-form, #upload-form, #manage-form {
  padding: 32px;
  border-radius: 5px;
}
/* ***ends********************** */

/* 'upload-dashboard.hbs' styles */
/* ***begins******************** */
#sharp-results-section h2,
#s3-results-section h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
  background-color: #183438;
  padding: 10px;
  border-radius: 3px;
}

.sharp-result-card a,
.s3-result-card a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sharp-result-card img,
.s3-result-card img {
  width: 25pt;
  height: 25pt;
}

.list-group-item-success {
  color: #307985;
  background-color: #B2EBD3;
}

.list-group-item-success.list-group-item-action:hover,
.list-group-item-success.list-group-item-action:focus {
  color: #307985;
  background-color: #C2FFE6 !important;
}
/* ***ends********************** */

/* 'manage-dashboard.hbs' styles */
/* ***begins******************** */
.card-link-delete {
  color: #dc3545;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.btn-clipboard {
  background-color: transparent !important;
  border: none;
  flex: 0.20;
}

.target-path {
  flex: 90%;
  margin: 0 10px;
}
/* ***ends********************** */
